* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    gap: 30px;
}

.letras{
    display: flex;
    padding-bottom: 30px;
}

.titulo1{
    display: flex;
    justify-self: center;
    font-size: 6rem;
    color: blue;
}
.titulo2{
    display: flex;
    justify-self: center;
    font-size: 6rem;
    color: red;
}
.titulo3{
    display: flex;
    justify-self: center;
    font-size: 6rem;
    color: gold;
}
.titulo5{
    display: flex;
    justify-self: center;
    font-size: 6rem;
    color: green;
}
.imput{
    display: flex;
    justify-self: center;
    height: 30px;
    width: 300px;
    text-align: center;
}


